@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

/* Common CSS */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 60px 0;
  margin: 1rem;
}

/* Headder Design */
.header_top_headlines {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  background-color: #385399;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.address ul,
.social_media ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.address ul li,
.social_media ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social_media ul li i {
  color: black;
}

.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo img {
  width: 80px;
  height: 70px;
}

.navitems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sub_navitems {
  display: none;
}

.navitems li a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  display: block;
  padding: 14px 20px;
  border-radius: 5px;
  transition: all ease-in 0.2s;
}

.navitems li a:hover {
  background-color: #23408e;
  color: #fff;
}

.appointment {
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: #23408e;
  padding: 30px 50px;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.appointment:hover {
  background: #02317e;
}

/* Header top area css end */
