@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap');

:root {
  --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --motion-duration: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

/* Common CSS */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

img {
  vertical-align: middle;
}

section {
  padding: 60px 0;
  margin: 1rem;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.section-title {
  width: 100%;
  padding: 15px;
  text-align: center;
  margin: 0 0 60px;
  line-height: 6vh;
}

.text-align-center {
  text-align: center;
}
.align-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

/* Headder Design */
.header_top_headlines {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  background-color: #385399;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.address ul,
.social_media ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.address ul li,
.social_media ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social_media ul li i {
  color: black;
}

.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo img {
  width: 80px;
  height: 70px;
}

.navitems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sub_navitems {
  display: none;
}

.navitems li a {
  color: black;
  font-size: 20px;
  font-weight: 500;
  display: block;
  padding: 14px 20px;
  border-radius: 5px;
  transition: all ease-in 0.2s;
}

.navitems li a:hover {
  background-color: #23408e;
  color: #fff;
}

.appointment {
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: #23408e;
  padding: 25px 50px;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.appointment:hover {
  background: #02317e;
}

/* Slider CSS */
.carousel-container {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  flex: 0 0 100%;
  position: relative;
  overflow: hidden; /* Add this to hide overflowing content */
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.slider_img_text {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  top: 40%;
  transform: translateY(-50%);
  color: white;
  gap: 20px;
  left: -100%; /* Start the text off-screen to the left */
}

.slide-in {
  animation: slideIn 2s forwards;
}

/* Define the animation */
@keyframes slideIn {
  from {
    left: -100%; /* Start position off-screen to the left */
  }
  to {
    left: 10%; /* End position at 10% from the left */
  }
}

.slider_img_text h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.slider_img_text span {
  font-size: 20px;
}

.slider_img_text .button {
  padding: 10px 14px;
  border-radius: 7px;
  background-color: #385399;
  color: white;
  font-size: 20px;
  transition: all ease-in-out 0.3s;
}

.prev-btn,
.next-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: #17171777;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  background: #000;
}
/* Header Area End */

/* About Section Area */
.about-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-section-title h5 {
  font-size: 22px;
  color: #23408e;
  margin: 0 0 1rem 0;
}
.about-section-title h2 {
  font-size: 45px;
  /* text-decoration: underline; */
}

.title-para {
  margin: 1.5rem 0 4rem 0;
  font-size: 18px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.about-service {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
}

.about-service > img {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.left-service,
.right-service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 1rem 0;
}

.left-service > div > h3,
.right-service > div > h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.left-service > div > p,
.right-service > div > p {
  font-size: 18px;
}

.left-service:hover,
.right-service:hover {
  color: #23408e;
}

.left-service:hover svg,
.right-service:hover svg {
  fill: #23408e !important;
}

/* Service */
.services-small {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.small-service-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  background: #02317e;
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.small-service-card:nth-child(even) {
  background-color: #23408e;
}

.small-service-card:nth-child(even):hover {
  background-color: #02327eca;
}

.small-service-card:nth-child(odd):hover {
  background-color: #294cab;
}

/* Big About Us */
.big-ab-1,
.big-ab-2 {
  display: flex;
  flex: 1;
  gap: 20px;
  margin-bottom: 8rem;
}
.big-ab-2 {
  margin-bottom: 0rem;
}

.big-about {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}

.big-about h2 {
  font-size: 28px;
  font-weight: 700;
}

.big-about p {
  font-size: 18px;
  font-weight: 400;
  padding: 8px 0;
  margin-bottom: 10px;
}

.readmore-btn {
  padding: 14px 18px;
  background: #294cab;
  color: #fff;
  border-radius: 7px;
}

.doctor_abouts > p {
  text-align: justify;
}

/* ARTIFICIAL EYE CLINIC INDIA */
.flex-col {
  flex-direction: column;
}

.all-services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 4rem;
}

.first-services,
.second-services {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.service-card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.readmore-btn-services {
  padding: 14px 18px;
  background: #294cab;
  color: #fff;
  border-radius: 50px;
}

.btn-serv-div {
  margin: 14px 0;
}

.btn-serv-div > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-serv-div svg {
  fill: white !important;
}

.img-card {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.card-main:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
